/* Reset básico */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--fuente-principal);
  line-height: 1.6;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}